.history-container
{
	margin: 0 auto;
}


.history-tile
{

box-shadow: 0 0 4px 1px #888;
-moz-box-shadow: 0 0 4px 1px #888;
-webkit-box-shadow: 0 0 4px 1px #888;
behavior: url(ie-css3.htc);
margin: 5px;
padding: 5px;
text-align: center;
float: left;

display: block;

background-color: #fff;
zoom: 1;
filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);

}

.history-link
{
	text-decoration: none;
	color: black;
	font-family: 'Segoe UI',arial,sans-serif;
	font-size: 10pt;
	
	position: relative;
	top: -50%;
	
	display: block;
	vertical-align: middle;
	text-align: center;
	padding: 5px;
}


.history-tags
{
	font-family: 'Segoe UI',arial,sans-serif;
	font-size: 8pt;
	
	display: block;
	vertical-align: middle;
	text-align: center;
	padding: 5px;
	
	background-color: #F7F7F7;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin:5px;
	width: 320px;
	
	overflow: hidden;

	zoom: 1;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);
	
}

.history-tag:hover
{
	background-color: #7CCC98;
}

.history-tag
{
	padding: 3px;
	float:left;
	text-transform: lowercase;
	cursor:pointer;
	cursor:hand;
}
