.packs-panel
{

}

.links-panel
{
	margin: 0 auto;
}
.link-thumb
{
	padding: 5px;
	width: 320px;
	height:300px;
	margin:5px;
	font-family: 'Segoe UI', arial,sans-serif;
	font-size: 10pt;
	behavior: url(ie-css3.htc);
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);

	cursor:pointer;
	cursor:hand;
}
