
.tags-toolbar
{
	text-align: center;

	font-family: 'Segoe UI', arial,sans-serif;
	font-size: 8pt;
	z-index: 1;
	margin: 0 auto;
	top: 0px;
	
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	margin-bottom: 10px;
}

.tagtoolbar-button-left
{
	vertical-align: middle;
	color: #DF3A01;
	text-align: center;
	float: left;
	padding-left: 2px;
	padding-right: 2px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
	margin: 5px;
}

.tagtoolbar-button-right
{
	vertical-align: middle;
	color: #DF3A01;
	text-align: center;
	float: left;
	padding-left: 2px;
	padding-right: 2px;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
	margin: 5px;
}

.tagtoolbar-button-middle
{
	vertical-align: middle;
	color: #DF3A01;
	text-align: center;
	float: left;
	
	padding-left: 2px;
	padding-right: 2px;
	margin: 5px;
}

.tagtoolbar-button-right:hover
{
	background-color: #eee;
}

.tagtoolbar-button-middle:hover
{
	background-color: #eee;
}

.tagtoolbar-button-left:hover
{
	background-color: #eee;
}

.tagtoolbar-button-link
{
	text-decoration: none;
	color: Teal;
	margin: 3px;
}